*{
    margin: 0px;
    padding: 0px;
}
.a{
    width: 100%;
    height: 100px;
    background-color: darkgoldenrod;
}
.b{
    position: absolute;
    left: 70px;
    top: 50px;
}
.b b{
    color: white;
    font-family: 'Segoe UI';
    font-size: 28px;
    font-style: italic;
}
.b p{
    color: white;
    font-family: 'Segoe UI';
    font-size: 24px;
}
.c{
    position: absolute;
    right: 100px;
    top: 60px;

}
.c li{
    list-style: none;
    display: inline;
    margin-left: 35px;
}
.c li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Segoe UI';
    font-style: italic;
}
.d{
    width: 100%;
    height: 600px;
    
}

.d img{
    width: 100%;
    height: 600px;
}

.project{
    width: 100%;
    height: 850px;
    background-color:whitesmoke;

    
}
.line{
    width: 100%;
    height:0.7px;
    background-color: rgb(194, 192, 192);
}
.project h1{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 32px;
    color: darkgoldenrod;
    position: absolute;
    left: 70px;
    bottom: -20px;
}
.house{
    position: absolute;
    left: 180px;
    bottom: -350px;

}
.house img{
    width: 300px;
    height: 200px;
    padding: 10px;
}
.house2{
    position: absolute;
    bottom: -600px;
    left: 180px;

}
.house2 img{
    width: 300px;
    height: 200px;
    padding: 10px;
}
.summer
{

    width: 100%;
    position: absolute;
    bottom: -163px;
    left: -5px;
}
.summer li{
    list-style: none;
    display: inline;
    margin: 130px;
}
.summer li a{
    text-decoration: none;
    background-color:black;
    color: white;
}
.summer1
{

    width: 100%;
    position: absolute;
    bottom: -413px;
    left: -5px;
}
.summer1 li{
    list-style: none;
    display: inline;
    margin: 130px;
    text-align: center;
}
.summer1 li a{
    text-decoration: none;
    background-color:black;
    color: white;
}
.about{
    width: 100%;
    height:600px;
    background-color: whitesmoke;
}
.about h1{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 32px;
    color: darkgoldenrod;
    position: absolute;
    bottom: -870px;
    left: 70px;
}
.about .para {
    position: relative;
    top:130px;
}
.about .para p{
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI';
    font-style: italic;
    color: darkgoldenrod;

}
.intro1
{
    position:absolute;
    left: 100px;
    border: 1px solid;
    bottom: -1290px;


}
.intro1 img{
    width: 420px;
    height: 170px;
    justify-items: center;

}
.intro1 p{
    color: darkgoldenrod;
    font-family: 'Segoe UI';
    font-style: italic;


}
.intro2
{
    position:absolute;
    left: 600px;
    border: 1px solid;
    bottom: -1290px;


}
.intro2 img{
    width: 420px;
    height: 190px;
    justify-items: center;

}
.intro2 p{
    color: darkgoldenrod;
    font-family: 'Segoe UI';
    font-style: italic;


}
.intro3
{
    position:absolute;
    left: 1100px;
    border: 1px solid;
    bottom: -1290px;


}
.intro3 img{
    width: 420px;
    height: 190px;
    justify-items: center;

}
.intro3 p{
    color: darkgoldenrod;
    font-family: 'Segoe UI';
    font-style: italic;


}
.line2{
    width: 100%;
    height:1px;
    background-color: rgb(194, 192, 192);
}
.phone{
    width: 100%;
    height: 600px;
    background-color: whitesmoke;
}

.phone h1{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 32px;
    color: darkgoldenrod;
    position: absolute;
    left: 70px;
    bottom: -1460px;
}
.touch {
    position: absolute;
    left: 66px;
    bottom: -1490px;

}
.touch p{
    font-family: 'Segoe UI';
    font-style: italic;
    color: darkgoldenrod;

}
.fname{
    position:absolute ;
    left: 70px;
    bottom: -1550px;

}
.fname input{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 20px;
    color: darkgoldenrod;
    width: 540px;
    height: 40px;

}
.lname{
    position:absolute ;
    right: 170px;
    bottom: -1550px;

}
.lname input{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 20px;
    color: darkgoldenrod;
    width: 540px;
    height: 40px;

}
.email{
    position:absolute ;
    left: 70px;
    bottom: -1650px;

}
.email input{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 20px;
    color: darkgoldenrod;
    width: 1340px;
    height: 40px;

}
.subject{
    position:absolute ;
    left: 70px;
    bottom: -1750px;

}
.subject input{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 20px;
    color: darkgoldenrod;
    width: 1340px;
    height: 40px;

}
.comment{
    position:absolute ;
    left: 70px;
    bottom: -1850px;

}
.comment input{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 20px;
    color: darkgoldenrod;
    width: 1340px;
    height: 40px;

}
.line3{
    width: 100%;
    height:2px;
    background-color: rgb(194, 192, 192);
}
.address
{
    width: 100%;
    height:600px;
    background-color: whitesmoke;

}
.address h1{
    font-family: 'Segoe UI';
    font-style: italic;
    font-size: 32px;
    color: darkgoldenrod;
    position: absolute;
    bottom: -2050px;
    left: 70px;

}
.Map{
    text-align: center;
    width:80%;
    height: 400px;
    background-color: grey;
    position: absolute;
    left: 200px;
    bottom: -2500px;
}
.Map p{
    text-align: center;
    position: absolute;
    font-family: 'Segoe UI';
    font-style: italic;
    left: 500px;
    bottom: 200px;
    font-size: 40px;
}
.footer
{
    width: 100%;
    height: 40px;
    background-color: black;
}
.footer p{
    color: white;
    font-size: 20px;
    text-align: center;
}
@media screen and (max-width:600px)
{
    .a{
        width:100%;
        /* height: 100px; */
        background-color: darkgoldenrod;
    }
    .b{
        /* position: absolute; */
        left: 120px;
        top: auto;
    }
    .b b{
        color: white;
        font-family: 'Segoe UI';
        font-size: 28px;
        font-style: italic;
    }
    .b p{
        color: white;
        font-family: 'Segoe UI';
        font-size: 24px;
    }
    .c{
        position: absolute;
        right: 80px;
        top: 50px;
    
    }
    .c li{
        list-style: none;
        display: inline;
        margin-left: 20px;

    }
    .c li a{
        text-decoration: none;
        color: white;
        font-size: 13px;
        font-family: 'Segoe UI';
        font-style: italic;
    }
    .d{
        width: 100%;
        height: 600px;
        
    }
    
    .d img{
        width: 100%;
        height: 600px;
    }
    
}   

